.Holiday {
    background-color: lightgoldenrodyellow;
}

.Office {
    background-color: #32CD32;
}

.WFH {
    background-color: LightSkyBlue;
}

.Offsite {
    background-color: #9370DB;
}

.Out {
    background-color: red;
}

.Vacation {
    background-color: orange;
}

.Training {
    background-color: hotpink;
}

.accordion-body {
    padding: 20px;
    background-color: lightgray !important;
}

.accordion-item {
    background-color: whitesmoke;
}

.table {
    font-size: 120%;
    font-weight: 400;
    vertical-align: middle;
    text-align: center;
    background-color: #F0F0F0 !important;
}

td {
    height:60px;
    a:link { color: black; }
    a:visited { color: black; }
}

.notes {
    font-size: small;
    font-style: italic;
}

.table-bordered {
    border-color: black;
}

.working-true {
    color: gray;
}

.out {
    a:link { color: black; }
    a:visited { color: black; }
    background-color: red;
}

.heading {
    text-align: center;
    font-size: 150%;
}
