<div class="row">
    <div class="col-3">
        <div class="row">
            <div class="heading">Management and Admin</div>
        </div>
        <div class="row">
            <div class="col col-4">
                <table class="table table-bordered">
                    <tbody>
                        <tr *ngFor="let member of mgmtusers">
                            <td *ngIf="member.working && member.status === 'Office'" [ngClass]="member.status"><a href="/editor/{{member.username}}">{{member.firstName}}</a></td>
                        </tr>
                    </tbody>
                </table>    
            </div>
            <div class="col col-4">
                <table class="table table-bordered">
                    <tbody>
                        <tr *ngFor="let member of mgmtusers">
                            <td *ngIf="member.working && member.status !== 'Office'" [ngClass]="member.status"><a href="/editor/{{member.username}}">{{member.firstName}}</a></td>
                        </tr>
                    </tbody>
                </table>    
            </div>
            <div class="col col-4">
                <table class="table table-bordered">
                    <tbody>
                        <tr *ngFor="let member of mgmtusers">
                            <td *ngIf="!member.working" class="out"><a href="/editor/{{member.username}}">{{member.firstName}}</a></td>
                        </tr>
                    </tbody>
                </table>    
            </div>
        </div>
        <br />
        <div class="row">
            <div class="row">
                <div class="heading">Infrastructure and Systems</div>
            </div>
        </div>
        <div class="row">
            <div class="col col-4">
                <table class="table table-bordered">
                    <tbody>
                        <tr *ngFor="let member of coreusers">
                            <td *ngIf="member.working && member.status === 'Office'" [ngClass]="member.status"><a href="/editor/{{member.username}}">{{member.firstName}}</a></td>
                        </tr>
                    </tbody>
                </table>    
            </div>
            <div class="col col-4">
                <table class="table table-bordered">
                    <tbody>
                        <tr *ngFor="let member of coreusers">
                            <td *ngIf="member.working && member.status !== 'Office'" [ngClass]="member.status"><a href="/editor/{{member.username}}">{{member.firstName}}</a></td>
                        </tr>
                    </tbody>
                </table>    
            </div>
            <div class="col col-4">
                <table class="table table-bordered">
                    <tbody>
                        <tr *ngFor="let member of coreusers">
                            <td *ngIf="!member.working" class="out"><a href="/editor/{{member.username}}">{{member.firstName}}</a></td>
                        </tr>
                    </tbody>
                </table>    
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="row">
            <div class="row">
                <div class="heading">Helpdesk</div>
            </div>
        </div>
        <div class="row">
            <div class="col col-4">
                <table class="table table-bordered">
                    <tbody>
                        <tr *ngFor="let member of hdusers">
                            <td *ngIf="member.working && member.status === 'Office'" [ngClass]="member.status"><a href="/editor/{{member.username}}">{{member.firstName}}</a></td>
                        </tr>
                    </tbody>
                </table>    
            </div>
            <div class="col col-4">
                <table class="table table-bordered">
                    <tbody>
                        <tr *ngFor="let member of hdusers">
                            <td *ngIf="member.working && member.status !== 'Office'" [ngClass]="member.status"><a href="/editor/{{member.username}}">{{member.firstName}}</a></td>
                        </tr>
                    </tbody>
                </table>    
            </div>
            <div class="col col-4">
                <table class="table table-bordered">
                    <tbody>
                        <tr *ngFor="let member of hdusers">
                            <td *ngIf="!member.working" class="out"><a href="/editor/{{member.username}}">{{member.firstName}}</a></td>
                        </tr>
                    </tbody>
                </table>    
            </div>
        </div>
        <br />
        <div class="row">
            <div class="row">
                <div class="heading">Multimedia</div>
            </div>
        </div>
        <div class="row">
            <div class="col col-4">
                <table class="table table-bordered">
                    <tbody>
                        <tr *ngFor="let member of multiusers">
                            <td *ngIf="member.working && member.status === 'Office'" [ngClass]="member.status"><a href="/editor/{{member.username}}">{{member.firstName}}</a></td>
                        </tr>
                    </tbody>
                </table>    
            </div>
            <div class="col col-4">
                <table class="table table-bordered">
                    <tbody>
                        <tr *ngFor="let member of multiusers">
                            <td *ngIf="member.working && member.status !== 'Office'" [ngClass]="member.status"><a href="/editor/{{member.username}}">{{member.firstName}}</a></td>
                        </tr>
                    </tbody>
                </table>    
            </div>
            <div class="col col-4">
                <table class="table table-bordered">
                    <tbody>
                        <tr *ngFor="let member of multiusers">
                            <td *ngIf="!member.working" class="out"><a href="/editor/{{member.username}}">{{member.firstName}}</a></td>
                        </tr>
                    </tbody>
                </table>    
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="row">
            <div class="row">
                <div class="heading">Web & Development</div>
            </div>
        </div>
        <div class="row">
            <div class="col col-4">
                <table class="table table-bordered">
                    <tbody>
                        <tr *ngFor="let member of webusers">
                            <td *ngIf="member.working && member.status === 'Office'" [ngClass]="member.status"><a href="/editor/{{member.username}}">{{member.firstName}}</a></td>
                        </tr>
                    </tbody>
                </table>    
            </div>
            <div class="col col-4">
                <table class="table table-bordered">
                    <tbody>
                        <tr *ngFor="let member of webusers">
                            <td *ngIf="member.working && member.status !== 'Office'" [ngClass]="member.status"><a href="/editor/{{member.username}}">{{member.firstName}}</a></td>
                        </tr>
                    </tbody>
                </table>    
            </div>
            <div class="col col-4">
                <table class="table table-bordered">
                    <tbody>
                        <tr *ngFor="let member of webusers">
                            <td *ngIf="!member.working" class="out"><a href="/editor/{{member.username}}">{{member.firstName}}</a></td>
                        </tr>
                    </tbody>
                </table>    
            </div>
        </div>
    </div>
</div>
