<div class="accordion col-4" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headerOptions">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelOptions" aria-expanded="true" aria-controls="panelOptions">
          Update existing user
        </button>
      </h2>
      <div id="panelOptions" class="accordion-collapse collapse show" aria-labelledby="panelOptions">
        <div class="accordion-body">
            <form #userForm="ngForm">
                <div class="form-group">
                    <div class="row g-2 align-items-center">
                        <div class="col-2">
                            <label for="name">Username</label>
                        </div>
                        <div class="col-10">
                            <input disabled type="text" class="form-control" id="username"
                                required
                                [(ngModel)]="model.username" name="username">
                        </div>

                        <div class="col-2">
                            <label for="firstName">First Name</label>
                        </div>
                        <div class="col-10">
                            <input type="text" class="form-control" id="firstName"
                                required
                                [(ngModel)]="model.firstName" name="firstName">
                        </div>
                        
                        <div class="col-2">
                            <label for="group">Group</label>
                        </div>
                        <div class="col-10">
                            <select class="form-control"  id="group"
                                required
                                [(ngModel)]="model.group" name="group">
                                <option *ngFor="let g of groups" [value]="g.name">{{g.name}}</option>
                            </select>
                        </div>

                        <div class="col-2">
                            <label for="group">Monday</label>
                        </div>
                        <div class="col-5">
                            <select class="form-control {{model.mondayStatus}}"  id="mondayStatus"
                                required
                                [(ngModel)]="model.mondayStatus" name="mondayStatus">
                                <option *ngFor="let s of statuses" [value]="s.name">{{s.name}}</option>
                            </select>
                        </div>
                        <div class="col-5">
                            <select class="form-control {{model.mondayHours}}"  id="mondayHours"
                                required
                                [(ngModel)]="model.mondayHours" name="mondayHours">
                                <option *ngFor="let h of hours" [value]="h.name">{{h.name}}</option>
                            </select>
                        </div>
                        
                        <div class="col-2">
                            <label for="group">Tuesday</label>
                        </div>
                        <div class="col-5">
                            <select class="form-control {{model.tuesdayStatus}}" id="tuesday"
                                required
                                [(ngModel)]="model.tuesdayStatus" name="tuesday">
                                <option *ngFor="let s of statuses" [value]="s.name">{{s.name}}</option>
                            </select>
                        </div>
                        <div class="col-5">
                            <select class="form-control {{model.tuesdayHours}}"  id="tuesdayHours"
                                required
                                [(ngModel)]="model.tuesdayHours" name="tuesdayHours">
                                <option *ngFor="let h of hours" [value]="h.name">{{h.name}}</option>
                            </select>
                        </div>
                        
                        <div class="col-2">
                            <label for="group">Wednesday</label>
                        </div>
                        <div class="col-5">
                            <select class="form-control {{model.wednesdayStatus}}" id="wednesday"
                                required
                                [(ngModel)]="model.wednesdayStatus" name="wednesday">
                                <option *ngFor="let s of statuses" [value]="s.name">{{s.name}}</option>
                            </select>
                        </div>
                        <div class="col-5">
                            <select class="form-control {{model.wednesdayHours}}"  id="wednesdayHours"
                                required
                                [(ngModel)]="model.wednesdayHours" name="wednesdayHours">
                                <option *ngFor="let h of hours" [value]="h.name">{{h.name}}</option>
                            </select>
                        </div>

                        <div class="col-2">
                            <label for="group">Thursday</label>
                        </div>
                        <div class="col-5">
                            <select class="form-control {{model.thursdayStatus}}" id="thursday"
                                required
                                [(ngModel)]="model.thursdayStatus" name="thursday">
                                <option *ngFor="let s of statuses" [value]="s.name">{{s.name}}</option>
                            </select>
                        </div>
                        <div class="col-5">
                            <select class="form-control {{model.thursdayHours}}"  id="thursdayHours"
                                required
                                [(ngModel)]="model.thursdayHours" name="thursdayHours">
                                <option *ngFor="let h of hours" [value]="h.name">{{h.name}}</option>
                            </select>
                        </div>

                        <div class="col-2">
                            <label for="group">Friday</label>
                        </div>
                        <div class="col-5">
                            <select class="form-control {{model.fridayStatus}}" id="friday"
                                required
                                [(ngModel)]="model.fridayStatus" name="friday">
                                <option *ngFor="let s of statuses" [value]="s.name">{{s.name}}</option>
                            </select>
                        </div>
                        <div class="col-5">
                            <select class="form-control {{model.fridayHours}}"  id="fridayHours"
                                required
                                [(ngModel)]="model.fridayHours" name="fridayHours">
                                <option *ngFor="let h of hours" [value]="h.name">{{h.name}}</option>
                            </select>
                        </div>
                        <div class="row"><br /></div>
                        <button type="button" class="col-4 btn btn-primary" (click)="updateUser()">Update</button>
                        <div class="col-1"></div>
                        <button type="button" class="col-4 btn btn-danger" (click)="deleteUser()">DELETE USER</button>
                    </div>
                </div>
            </form>
        </div>
      </div>
    </div>
  <br />
