th {
    background-color: white !important;
    text-align: center;
}

td {
    text-align: center;
}

.name {
    background-color: white !important;
    text-align: left;
    font-weight: bold;
}

.Holiday {
    background-color: lightgoldenrodyellow;
}

.Office {
    background-color: lightgreen;
}

.WFH {
    background-color: lightblue;
}

.Offsite {
    background-color: violet;
}

.Out {
    background-color: coral;
}

.today {
    font-weight: bold;
}