<form #userForm="ngForm">
    <div class="form-group">
        <div class="col-3">
            <table class="table">
                <tbody>
                    <tr>
                        <td width="100" class="left">Username</td>
                        <td width="500"><input type="text" class="form-control" id="username"
                            required
                            [(ngModel)]="model.username" name="username"></td>
                    </tr>
                    <tr>
                        <td width="100" class="left">First Name</td>
                        <td width="500">
                            <input type="text" class="form-control" id="firstName"
                            required
                            [(ngModel)]="model.firstName" name="firstName">
                        </td>
                    </tr>
                    <tr>
                        <td width="100" class="left">Group</td>
                        <td width="500">
                            <select class="form-control"  id="group"
                                required
                                [(ngModel)]="model.group" name="group">
                                <option *ngFor="let g of groups" [value]="g.name">{{g.name}}</option>
                            </select>
                        </td>
                    </tr>
                </tbody>
                
            </table>
        </div>
        <div class="col-6">
            <table class="table">
                <tr>
                    <th width="50"></th>
                    <th width="100">Status</th>
                    <th width="100">Start</th>
                    <th width="100">End</th>
                    <th width="500">Notes</th>
                </tr>
                <tbody>
                    <tr>
                        <td class="left">
                            Monday
                        </td>
                        <td>
                            <select class="form-control {{model.mondayStatus}}"  id="mondayStatus"
                                required
                                [(ngModel)]="model.mondayStatus" name="mondayStatus">
                                <option *ngFor="let s of statuses" [value]="s.name">{{s.name}}</option>
                            </select>
                        </td>
                        <td>
                            <input type="text" class="form-control" id="mondayStart"
                            required
                            [(ngModel)]="model.mondayStart" name="mondayStart">
                        </td>
                        <td>
                            <input type="text" class="form-control" id="mondayEnd"
                            required
                            [(ngModel)]="model.mondayEnd" name="mondayEnd">
                        </td>
                        <td>
                            <input type="text" class="form-control" id="mondayNotes"
                            required
                            [(ngModel)]="model.mondayNotes" name="mondayNotes">
                        </td>
                    </tr>
                    <tr>
                        <td class="left">
                            Tuesday
                        </td>
                        <td>
                            <select class="form-control {{model.tuesdayStatus}}"  id="tuesdayStatus"
                                required
                                [(ngModel)]="model.tuesdayStatus" name="tuesdayStatus">
                                <option *ngFor="let s of statuses" [value]="s.name">{{s.name}}</option>
                            </select>
                        </td>
                        <td>
                            <input type="text" class="form-control" id="tuesdayStart"
                            required
                            [(ngModel)]="model.tuesdayStart" name="tuesdayStart">
                        </td>
                        <td>
                            <input type="text" class="form-control" id="tuesdayEnd"
                            required
                            [(ngModel)]="model.tuesdayEnd" name="tuesdayEnd">
                        </td>
                        <td>
                            <input type="text" class="form-control" id="tuesdayNotes"
                            required
                            [(ngModel)]="model.tuesdayNotes" name="tuesdayNotes">
                        </td>
                    </tr>
                    <tr>
                        <td class="left">
                            Wednesday
                        </td>
                        <td>
                            <select class="form-control {{model.wednesdayStatus}}"  id="wednesdayStatus"
                                required
                                [(ngModel)]="model.wednesdayStatus" name="wednesdayStatus">
                                <option *ngFor="let s of statuses" [value]="s.name">{{s.name}}</option>
                            </select>
                        </td>
                        <td>
                            <input type="text" class="form-control" id="wednesdayStart"
                            required
                            [(ngModel)]="model.wednesdayStart" name="wednesdayStart">
                        </td>
                        <td>
                            <input type="text" class="form-control" id="wednesdayEnd"
                            required
                            [(ngModel)]="model.wednesdayEnd" name="wednesdayEnd">
                        </td>
                        <td>
                            <input type="text" class="form-control" id="wednesdayNotes"
                            required
                            [(ngModel)]="model.wednesdayNotes" name="wednesdayNotes">
                        </td>
                    </tr>
                    <tr>
                        <td class="left">
                            Thursday
                        </td>
                        <td>
                            <select class="form-control {{model.thursdayStatus}}"  id="thursdayStatus"
                                required
                                [(ngModel)]="model.thursdayStatus" name="thursdayStatus">
                                <option *ngFor="let s of statuses" [value]="s.name">{{s.name}}</option>
                            </select>
                        </td>
                        <td>
                            <input type="text" class="form-control" id="thursdayStart"
                            required
                            [(ngModel)]="model.thursdayStart" name="thursdayStart">
                        </td>
                        <td>
                            <input type="text" class="form-control" id="thursdayEnd"
                            required
                            [(ngModel)]="model.thursdayEnd" name="thursdayEnd">
                        </td>
                        <td>
                            <input type="text" class="form-control" id="thursdayNotes"
                            required
                            [(ngModel)]="model.thursdayNotes" name="thursdayNotes">
                        </td>
                    </tr>
                    <tr>
                        <td class="left">
                            Friday
                        </td>
                        <td>
                            <select class="form-control {{model.fridayStatus}}"  id="fridayStatus"
                                required
                                [(ngModel)]="model.fridayStatus" name="fridayStatus">
                                <option *ngFor="let s of statuses" [value]="s.name">{{s.name}}</option>
                            </select>
                        </td>
                        <td>
                            <input type="text" class="form-control" id="fridayStart"
                            required
                            [(ngModel)]="model.fridayStart" name="fridayStart">
                        </td>
                        <td>
                            <input type="text" class="form-control" id="fridayEnd"
                            required
                            [(ngModel)]="model.fridayEnd" name="fridayEnd">
                        </td>
                        <td>
                            <input type="text" class="form-control" id="fridayNotes"
                            required
                            [(ngModel)]="model.fridayNotes" name="fridayNotes">
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="col-6">
                <table class="table">
                    <tbody>
                        <tr>
                            <td class="left">Week Notes</td>
                            <td>
                                <input type="text" class="form-control" id="weekNotes"
                                required
                                [(ngModel)]="model.weekNotes" name="weekNotes">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <button type="button" class="col-2 btn btn-primary" (click)="updateUser()">Update User</button>
    <button type="button" class="col-2 btn btn-warning" (click)="cancel()">Cancel</button>
</form>