h4 {
    text-align: center;
    text-shadow: #FC0 1px 0 10px;
}

th {
    text-align: center;
}

td {
    border: none !important;
}

.frame {
    border: thin solid white;
    margin: 25px;
    padding: 25px;
}

.table {
    border: none !important;
    vertical-align: middle;
}

.btn-space {
    margin-right: 15px;
}
