<div class="accordion col-6" id="accordionPanel">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headerOptions">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#viewOptions" aria-expanded="true" aria-controls="viewOptions">
            View Options
        </button>
      </h2>
    </div>
</div>
<div id="viewOptions" class="accordion-collapse collapse hide" aria-labelledby="viewOptions">
    <div class="accordion-body">
        <div class="row">
            <div class="col-3">
                <span class="strong">Show/Hide Teams:</span>
                <div class="">Management: <input [(ngModel)]="showManagement" type="checkbox"/></div>
                <div class="">Infrastructure and Systems: <input [(ngModel)]="showCore" type="checkbox"/></div>
                <div class="">Web and Development: <input [(ngModel)]="showWeb" type="checkbox"/></div>
                <div class="">Helpdesk: <input [(ngModel)]="showHelpdesk" type="checkbox"/></div>
                <div class="">Multimedia: <input [(ngModel)]="showMulti" type="checkbox"/></div>
            </div>
            <div class="col-3">
                <span class="strong">Show/Hide Fields:</span>
                <div class="">Status: <input [(ngModel)]="showStatus" type="checkbox"/></div>
                <div class="">Hours: <input [(ngModel)]="showHours" type="checkbox"/></div>
                <div class="">Notes: <input [(ngModel)]="showNotes" type="checkbox"/></div>
                <div class="">WeekNotes: <input [(ngModel)]="showWeekNotes" type="checkbox"/></div>
            </div>
        </div>
    </div>
</div> 
<br />

<div class="row">
    <div class="col-6">
        <div *ngIf="showManagement">
            <h4>Management and Admin</h4>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="col"></th>
                        <th class="col">Monday</th>
                        <th class="col">Tuesday</th>
                        <th class="col">Wednesday</th>
                        <th class="col">Thursday</th>
                        <th class="col">Friday</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let member of mgmtusers">
                        <tr>
                            <td [attr.rowspan]="NameRowHeight(member)" class="name">
                                <a href="/editor/{{member.username}}">{{member.firstName}}</a>
                            </td>
                            <td [ngClass]="dayOfWeekName === 'Monday' && member.working ? 'today' : ''" class="{{member.mondayStatus}}">
                                <div *ngIf="showStatus">{{member.mondayStatus}} <br /></div>
                                <div *ngIf="showHours">{{member.mondayStart}}-{{member.mondayEnd}} <br /></div>
                                <div *ngIf="showNotes" class="notes">{{member.mondayNotes}}</div>
                            </td>
                            <td [ngClass]="dayOfWeekName === 'Tuesday' && member.working ? 'today' : ''" class="{{member.tuesdayStatus}}">
                                <div *ngIf="showStatus">{{member.tuesdayStatus}} <br /></div>
                                <div *ngIf="showHours">{{member.tuesdayStart}}-{{member.tuesdayEnd}} <br /></div>
                                <div *ngIf="showNotes" class="notes">{{member.tuesdayNotes}}</div>
                            </td>
                            <td [ngClass]="dayOfWeekName === 'Wednesday' && member.working ? 'today' : ''" class="{{member.wednesdayStatus}}">
                                <div *ngIf="showStatus">{{member.wednesdayStatus}} <br /></div>
                                <div *ngIf="showHours">{{member.wednesdayStart}}-{{member.wednesdayEnd}} <br /></div>
                                <div *ngIf="showNotes" class="notes">{{member.wednesdayNotes}}</div>
                            </td>
                            <td [ngClass]="dayOfWeekName === 'Thursday' && member.working ? 'today' : ''" class="{{member.thursdayStatus}}">
                                <div *ngIf="showStatus">{{member.thursdayStatus}} <br /></div>
                                <div *ngIf="showHours">{{member.thursdayStart}}-{{member.thursdayEnd}} <br /></div>
                                <div *ngIf="showNotes" class="notes">{{member.thursdayNotes}}</div>
                            </td>
                            <td [ngClass]="dayOfWeekName === 'Friday' && member.working ? 'today' : ''" class="{{member.fridayStatus}}">
                                <div *ngIf="showStatus">{{member.fridayStatus}} <br /></div>
                                <div *ngIf="showHours">{{member.fridayStart}}-{{member.fridayEnd}} <br /></div>
                                <div *ngIf="showNotes" class="notes">{{member.fridayNotes}}</div>
                            </td>
                        </tr>
                        <ng-container *ngIf="showWeekNotes && member.weekNotes != ''">
                            <tr>
                                <td colspan="5" class="weeknotes">Week Notes: <span class="notes">{{member.weekNotes}}</span></td>
                            </tr>
                        </ng-container>
                    </ng-container>
                </tbody>
            </table>
        </div>

        <br />
        <div *ngIf="showCore">
            <h4>Infrastructure and Systems</h4>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="col"></th>
                        <th class="col">Monday</th>
                        <th class="col">Tuesday</th>
                        <th class="col">Wednesday</th>
                        <th class="col">Thursday</th>
                        <th class="col">Friday</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let member of coreusers">
                        <tr>
                            <td [attr.rowspan]="NameRowHeight(member)" class="name">
                                <a href="/editor/{{member.username}}">{{member.firstName}}</a>
                            </td>
                            <td [ngClass]="dayOfWeekName === 'Monday' && member.working ? 'today' : ''" class="{{member.mondayStatus}}">
                                <div *ngIf="showStatus">{{member.mondayStatus}} <br /></div>
                                <div *ngIf="showHours">{{member.mondayStart}}-{{member.mondayEnd}} <br /></div>
                                <div *ngIf="showNotes" class="notes">{{member.mondayNotes}}</div>
                            </td>
                            <td [ngClass]="dayOfWeekName === 'Tuesday' && member.working ? 'today' : ''" class="{{member.tuesdayStatus}}">
                                <div *ngIf="showStatus">{{member.tuesdayStatus}} <br /></div>
                                <div *ngIf="showHours">{{member.tuesdayStart}}-{{member.tuesdayEnd}} <br /></div>
                                <div *ngIf="showNotes" class="notes">{{member.tuesdayNotes}}</div>
                            </td>
                            <td [ngClass]="dayOfWeekName === 'Wednesday' && member.working ? 'today' : ''" class="{{member.wednesdayStatus}}">
                                <div *ngIf="showStatus">{{member.wednesdayStatus}} <br /></div>
                                <div *ngIf="showHours">{{member.wednesdayStart}}-{{member.wednesdayEnd}} <br /></div>
                                <div *ngIf="showNotes" class="notes">{{member.wednesdayNotes}}</div>
                            </td>
                            <td [ngClass]="dayOfWeekName === 'Thursday' && member.working ? 'today' : ''" class="{{member.thursdayStatus}}">
                                <div *ngIf="showStatus">{{member.thursdayStatus}} <br /></div>
                                <div *ngIf="showHours">{{member.thursdayStart}}-{{member.thursdayEnd}} <br /></div>
                                <div *ngIf="showNotes" class="notes">{{member.thursdayNotes}}</div>
                            </td>
                            <td [ngClass]="dayOfWeekName === 'Friday' && member.working ? 'today' : ''" class="{{member.fridayStatus}}">
                                <div *ngIf="showStatus">{{member.fridayStatus}} <br /></div>
                                <div *ngIf="showHours">{{member.fridayStart}}-{{member.fridayEnd}} <br /></div>
                                <div *ngIf="showNotes" class="notes">{{member.fridayNotes}}</div>
                            </td>
                        </tr>
                        <tr *ngIf="showWeekNotes && member.weekNotes != ''">
                            <td colspan="5" class="weeknotes">Week Notes: <span class="notes">{{member.weekNotes}}</span></td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>

        <br />
        <div *ngIf="showWeb">
            <h4>Web and Development</h4>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="col"></th>
                        <th class="col">Monday</th>
                        <th class="col">Tuesday</th>
                        <th class="col">Wednesday</th>
                        <th class="col">Thursday</th>
                        <th class="col">Friday</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let member of webusers">
                        <tr>
                            <td [attr.rowspan]="NameRowHeight(member)" class="name">
                                <a href="/editor/{{member.username}}">{{member.firstName}}</a>
                            </td>
                            <td [ngClass]="dayOfWeekName === 'Monday' && member.working ? 'today' : ''" class="{{member.mondayStatus}}">
                                <div *ngIf="showStatus">{{member.mondayStatus}} <br /></div>
                                <div *ngIf="showHours">{{member.mondayStart}}-{{member.mondayEnd}} <br /></div>
                                <div *ngIf="showNotes" class="notes">{{member.mondayNotes}}</div>
                            </td>
                            <td [ngClass]="dayOfWeekName === 'Tuesday' && member.working ? 'today' : ''" class="{{member.tuesdayStatus}}">
                                <div *ngIf="showStatus">{{member.tuesdayStatus}} <br /></div>
                                <div *ngIf="showHours">{{member.tuesdayStart}}-{{member.tuesdayEnd}} <br /></div>
                                <div *ngIf="showNotes" class="notes">{{member.tuesdayNotes}}</div>
                            </td>
                            <td [ngClass]="dayOfWeekName === 'Wednesday' && member.working ? 'today' : ''" class="{{member.wednesdayStatus}}">
                                <div *ngIf="showStatus">{{member.wednesdayStatus}} <br /></div>
                                <div *ngIf="showHours">{{member.wednesdayStart}}-{{member.wednesdayEnd}} <br /></div>
                                <div *ngIf="showNotes" class="notes">{{member.wednesdayNotes}}</div>
                            </td>
                            <td [ngClass]="dayOfWeekName === 'Thursday' && member.working ? 'today' : ''" class="{{member.thursdayStatus}}">
                                <div *ngIf="showStatus">{{member.thursdayStatus}} <br /></div>
                                <div *ngIf="showHours">{{member.thursdayStart}}-{{member.thursdayEnd}} <br /></div>
                                <div *ngIf="showNotes" class="notes">{{member.thursdayNotes}}</div>
                            </td>
                            <td [ngClass]="dayOfWeekName === 'Friday' && member.working ? 'today' : ''" class="{{member.fridayStatus}}">
                                <div *ngIf="showStatus">{{member.fridayStatus}} <br /></div>
                                <div *ngIf="showHours">{{member.fridayStart}}-{{member.fridayEnd}} <br /></div>
                                <div *ngIf="showNotes" class="notes">{{member.fridayNotes}}</div>
                            </td>
                        </tr>
                        <tr *ngIf="showWeekNotes && member.weekNotes != ''">
                            <td colspan="5" class="weeknotes">Week Notes: <span class="notes">{{member.weekNotes}}</span></td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-6">
        <div *ngIf="showHelpdesk">
            <h4>Help Desk</h4>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="col"></th>
                        <th class="col">Monday</th>
                        <th class="col">Tuesday</th>
                        <th class="col">Wednesday</th>
                        <th class="col">Thursday</th>
                        <th class="col">Friday</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let member of hdusers">
                        <tr>
                            <td [attr.rowspan]="NameRowHeight(member)" class="name">
                                <a href="/editor/{{member.username}}">{{member.firstName}}</a>
                            </td>
                            <td [ngClass]="dayOfWeekName === 'Monday' && member.working ? 'today' : ''" class="{{member.mondayStatus}}">
                                <div *ngIf="showStatus">{{member.mondayStatus}} <br /></div>
                                <div *ngIf="showHours">{{member.mondayStart}}-{{member.mondayEnd}} <br /></div>
                                <div *ngIf="showNotes" class="notes">{{member.mondayNotes}}</div>
                            </td>
                            <td [ngClass]="dayOfWeekName === 'Tuesday' && member.working ? 'today' : ''" class="{{member.tuesdayStatus}}">
                                <div *ngIf="showStatus">{{member.tuesdayStatus}} <br /></div>
                                <div *ngIf="showHours">{{member.tuesdayStart}}-{{member.tuesdayEnd}} <br /></div>
                                <div *ngIf="showNotes" class="notes">{{member.tuesdayNotes}}</div>
                            </td>
                            <td [ngClass]="dayOfWeekName === 'Wednesday' && member.working ? 'today' : ''" class="{{member.wednesdayStatus}}">
                                <div *ngIf="showStatus">{{member.wednesdayStatus}} <br /></div>
                                <div *ngIf="showHours">{{member.wednesdayStart}}-{{member.wednesdayEnd}} <br /></div>
                                <div *ngIf="showNotes" class="notes">{{member.wednesdayNotes}}</div>
                            </td>
                            <td [ngClass]="dayOfWeekName === 'Thursday' && member.working ? 'today' : ''" class="{{member.thursdayStatus}}">
                                <div *ngIf="showStatus">{{member.thursdayStatus}} <br /></div>
                                <div *ngIf="showHours">{{member.thursdayStart}}-{{member.thursdayEnd}} <br /></div>
                                <div *ngIf="showNotes" class="notes">{{member.thursdayNotes}}</div>
                            </td>
                            <td [ngClass]="dayOfWeekName === 'Friday' && member.working ? 'today' : ''" class="{{member.fridayStatus}}">
                                <div *ngIf="showStatus">{{member.fridayStatus}} <br /></div>
                                <div *ngIf="showHours">{{member.fridayStart}}-{{member.fridayEnd}} <br /></div>
                                <div *ngIf="showNotes" class="notes">{{member.fridayNotes}}</div>
                            </td>
                        </tr>
                        <ng-container *ngIf="showWeekNotes && member.weekNotes != ''">
                            <tr>
                                <td colspan="5" class="weeknotes">Week Notes: <span class="notes">{{member.weekNotes}}</span></td>
                            </tr>
                        </ng-container>
                    </ng-container>
                </tbody>
            </table>
        </div>

        <br />
        <div *ngIf="showMulti">
            <h4>Multimedia</h4>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="col"></th>
                        <th class="col">Monday</th>
                        <th class="col">Tuesday</th>
                        <th class="col">Wednesday</th>
                        <th class="col">Thursday</th>
                        <th class="col">Friday</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let member of multiusers">
                        <tr>
                            <td [attr.rowspan]="NameRowHeight(member)" class="name">
                                <a href="/editor/{{member.username}}">{{member.firstName}}</a>
                            </td>
                            <td [ngClass]="dayOfWeekName === 'Monday' && member.working ? 'today' : ''" class="{{member.mondayStatus}}">
                                <div *ngIf="showStatus">{{member.mondayStatus}} <br /></div>
                                <div *ngIf="showHours">{{member.mondayStart}}-{{member.mondayEnd}} <br /></div>
                                <div *ngIf="showNotes" class="notes">{{member.mondayNotes}}</div>
                            </td>
                            <td [ngClass]="dayOfWeekName === 'Tuesday' && member.working ? 'today' : ''" class="{{member.tuesdayStatus}}">
                                <div *ngIf="showStatus">{{member.tuesdayStatus}} <br /></div>
                                <div *ngIf="showHours">{{member.tuesdayStart}}-{{member.tuesdayEnd}} <br /></div>
                                <div *ngIf="showNotes" class="notes">{{member.tuesdayNotes}}</div>
                            </td>
                            <td [ngClass]="dayOfWeekName === 'Wednesday' && member.working ? 'today' : ''" class="{{member.wednesdayStatus}}">
                                <div *ngIf="showStatus">{{member.wednesdayStatus}} <br /></div>
                                <div *ngIf="showHours">{{member.wednesdayStart}}-{{member.wednesdayEnd}} <br /></div>
                                <div *ngIf="showNotes" class="notes">{{member.wednesdayNotes}}</div>
                            </td>
                            <td [ngClass]="dayOfWeekName === 'Thursday' && member.working ? 'today' : ''" class="{{member.thursdayStatus}}">
                                <div *ngIf="showStatus">{{member.thursdayStatus}} <br /></div>
                                <div *ngIf="showHours">{{member.thursdayStart}}-{{member.thursdayEnd}} <br /></div>
                                <div *ngIf="showNotes" class="notes">{{member.thursdayNotes}}</div>
                            </td>
                            <td [ngClass]="dayOfWeekName === 'Friday' && member.working ? 'today' : ''" class="{{member.fridayStatus}}">
                                <div *ngIf="showStatus">{{member.fridayStatus}} <br /></div>
                                <div *ngIf="showHours">{{member.fridayStart}}-{{member.fridayEnd}} <br /></div>
                                <div *ngIf="showNotes" class="notes">{{member.fridayNotes}}</div>
                            </td>
                        </tr>
                        <tr *ngIf="showWeekNotes && member.weekNotes != ''">
                            <td colspan="5" class="weeknotes">Week Notes: <span class="notes">{{member.weekNotes}}</span></td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>

    
</div>
