.Holiday {
    background-color: lightgoldenrodyellow;
}

.Office {
    background-color: #32CD32;
}

.WFH {
    background-color: LightSkyBlue;
}

.Offsite {
    background-color: #9370DB;
}

.Out {
    background-color: red;
}

.Vacation {
    background-color: orange;
}

.Training {
    background-color: hotpink;
}

.accordion-body {
    padding: 20px;
    background-color: lightgray !important;
}

.accordion-item {
    background-color: whitesmoke;
}

.table {
    font-size: medium;
    font-weight: 400;
    vertical-align: middle;
    text-align: center;
    background-color: #F0F0F0 !important;
}

.notes {
    font-size: small;
    font-style: italic;
}

.table-bordered {
    border: 1px solid gray;
}

.working-true {
    color: gray;
}

.today {
    font-weight: bold;
    border: 3px solid green !important;
}
